<section class="h-screen w-fit bg-image">
  <aside class="bg-blur  flex flex-col h-screen py-8 overflow-y-auto w-fit md:w-64">
    <a class="flex items-center justify-center px-3 py-2 text-black transition-colors duration-300 transform rounded-lg">
      <span class="text-2xl mx-2 font-medium hidden md:block">Aftas</span>
    </a>
    <div class="flex flex-col justify-between flex-1 mt-6">
      <nav class="flex-1 ">
        <a *ngFor="let navigation of navigations" [routerLink]="navigation.path" class="cursor-pointer flex items-center px-5 py-5 text-gray-600 transition-colors duration-300 transform hover:bg-blue-200 ">
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-5 h-5">
            <path stroke-linecap="round" stroke-linejoin="round" d="M2.25 12l8.954-8.955c.44-.439 1.152-.439 1.591 0L21.75 12M4.5 9.75v10.125c0 .621.504 1.125 1.125 1.125H9.75v-4.875c0-.621.504-1.125 1.125-1.125h2.25c.621 0 1.125.504 1.125 1.125V21h4.125c.621 0 1.125-.504 1.125-1.125V9.75M8.25 21h8.25" />
          </svg>
          <span class="mx-2 text-md font-normal hidden md:block">{{ navigation.title }}</span>
        </a>
      </nav>
    </div>
  </aside>
</section>
