<section class="h-screen w-fit bg-blue-100 bg-blur">
  <aside
    class="bg-blur flex flex-col h-screen py-8 overflow-y-auto w-fit md:w-64"
  >
    <a
      class="flex items-center justify-center px-3 py-2 text-black transition-colors duration-300 transform rounded-lg"
    >
      <span class="text-2xl mx-2 font-medium hidden md:block">Aftas</span>
    </a>
    <div class="flex flex-col justify-between flex-1 mt-6">
      <nav class="flex-1">
        <a
          *ngFor="let navigation of navigations"
          [routerLink]="navigation.path"
          class="cursor-pointer flex items-center px-5 py-5 text-gray-600 transition-colors duration-300 transform hover:bg-blue-200"
        >
          <span class="mx-2 text-md font-normal hidden md:block">{{
            navigation.title
          }}</span>
        </a>
        <a
          class="cursor-pointer flex items-center px-5 py-5 text-gray-600 transition-colors duration-300 transform hover:bg-blue-200"
          ><span
            class="mx-2 text-md font-normal hidden md:block"
            (click)="logout()"
            >logout</span
          ></a
        >
      </nav>
    </div>
  </aside>
</section>
