<section class="h-screen w-fit bg-blue-100 bg-blur">
  <aside
    class="bg-blur flex flex-col h-screen py-8 overflow-y-auto w-fit md:w-64"
  >
    <a
      class="flex items-center justify-center px-3 py-2 text-black transition-colors duration-300 transform rounded-lg"
    >
      <span class="text-2xl mx-2 font-medium hidden md:block">Aftas</span>
    </a>
    <div class="flex flex-col justify-between flex-1 mt-6">
      <nav class="flex-1">
        <a
          *ngFor="let navigation of navigations"
          [routerLink]="navigation.path"
          class="cursor-pointer flex items-center px-5 py-5 text-gray-600 transition-colors duration-300 transform hover:bg-blue-200"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            viewBox="0 0 24 24"
          >
            <path
              fill="currentColor"
              d="M5.5 7a3 3 0 1 1 6 0a3 3 0 0 1-6 0m3-5a5 5 0 1 0 0 10a5 5 0 0 0 0-10m7 0h-1v2h1a3 3 0 1 1 0 6h-1v2h1a5 5 0 0 0 0-10M0 19a5 5 0 0 1 5-5h7a5 5 0 0 1 5 5v2h-2v-2a3 3 0 0 0-3-3H5a3 3 0 0 0-3 3v2H0v-1zm24 0a5 5 0 0 0-5-5h-1v2h1a3 3 0 0 1 3 3v2h2v-1z"
            />
          </svg>
          <span class="mx-2 text-md font-normal hidden md:block">{{
            navigation.title
          }}</span>
        </a>
      </nav>
    </div>
  </aside>
</section>
