<div class="overflow-x-auto">
  <div class="relative overflow-x-auto shadow-md sm:rounded-lg">
    <table
      class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400"
    >
      <thead class="text-xs font-light text-gray-700 uppercase bg-gray-50">
        <tr>
          <th scope="col" class="px-6 py-3 font-normal">Code</th>
          <th scope="col" class="px-6 py-3 font-normal">Date</th>
          <th scope="col" class="px-6 py-3 font-normal">Location</th>
          <th scope="col" class="px-6 py-3 font-normal">Participants</th>
          <th scope="col" class="px-6 py-3 font-normal">Start Time</th>
          <th scope="col" class="px-6 py-3 font-normal">End Time</th>
        </tr>
      </thead>
      <tbody>
        <tr
          *ngFor="let competition of competitions"
          class="bg-slate-200 text-black border-b border-white"
        >
          <td class="text-sm px-6 py-4 font-light">{{ competition.code }}</td>
          <td class="text-sm px-6 py-4 font-light">{{ competition.date }}</td>
          <td class="text-sm px-6 py-4 font-light">
            {{ competition.location }}
          </td>
          <td class="text-sm px-6 py-4 font-light">
            {{ competition.numberOfParticipants }}
          </td>
          <td class="text-sm px-6 py-4 font-light">
            {{ competition.startTime }}
          </td>
          <td class="text-sm px-6 py-4 font-semibold">
            {{ competition.endTime }}
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
