<section class="container mx-auto w-full h-screen p-10">
  <h1 class="text-white text-center text-4xl font-semi-bold mb-10">Users</h1>
  <div class="w-full">
    <div class="w-full flex items-center justify-center my-20">
      <app-users-table class="w-full" [users]="users"></app-users-table>
    </div>

    <!-- <div class="w-full bg-blur-bold rounded-md my-5">
        <div
          class="container rounded bg-slate-200 flex flex-col items-center justify-start px-6 py-2 mx-auto space-y-6 sm:flex-row sm:justify-between sm:space-y-0 overflow-auto hide-scrollbar"
        >
          <div *ngFor="let page of pages; let i = index">
            <p
              [ngClass]="{
                'bg-slate-500 text-white': currentPage == i,
                'bg-white text-black': currentPage != i
              }"
              (click)="setCurrentPage(i)"
              class="px-3 py-1 mx-2 transition-colors duration-300 transform rounded-lg cursor-pointer"
            >
              {{ i + 1 }}
            </p>
          </div>
          <p class="text-gray-200 font-light">of {{ totalElements }} records</p>
        </div>
      </div> -->
  </div>
  <div class="p-2"></div>
</section>
