* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
.bg-image {
  background-image: url('../assets/imgs/background.png');
  background-size: cover;
  background-position: center;
  width: 100%;
}
.bg-blur {
  background-color: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(4px);
}
.bg-blur-bold {
  backdrop-filter: blur(64px);
}
