<div class="w-full flex flex-col items-center justify-center h-screen p-10">
  <h1 class="text-center text-white text-3xl mb-10">Members</h1>
  <div class="mx-5 p-5 w-full flex items-center justify-end">
    <button routerLink="/new-member" class="px-5 py-1 bg-violet-400 text-white">Add member</button>
  </div>
  <table class="rounded w-full bg-white text-sm text-left rtl:text-right text-gray-500 ">
    <thead class="text-gray-700 bg-violet-200">
    <tr>
      <th scope="col" class="px-6 py-3 font-normal text-md text-black">number</th>
      <th scope="col" class="px-6 py-3 font-normal text-md text-black">full name</th>
      <th scope="col" class="px-6 py-3 font-normal text-md text-black">identity number</th>
      <th scope="col" class="px-6 py-3 font-normal text-md text-black">identity document</th>
      <th scope="col" class="px-6 py-3 font-normal text-md text-black">nationality</th>
    </tr>
    </thead>
    <tbody class="bg-blur-bold">
    <tr *ngFor="let member of members" class="backdrop-blur ">
      <td class="px-6 py-4 text-gray-400 font-light">{{ member.num }}</td>
      <td class="px-6 py-4 text-gray-400 font-light">{{ member.name + " " + member.familyName }}</td>
      <td class="px-6 py-4 text-gray-400 font-light">{{ member.identityNumber }}</td>
      <td class="px-6 py-4 text-gray-400 font-light">{{ member.identityDocument }}</td>
      <td class="px-6 py-4 text-gray-400 font-light">{{ member.nationality }}</td>
    </tr>
    </tbody>
  </table>
</div>
