<section class="flex-col gap-20 w-full flex h-screen items-center p-10">
  <h1 class="text-white text-4xl font-semi-bold mx-5">Competitions</h1>
  <div class="w-full">
    <div class="relative overflow-x-auto shadow-md sm:rounded-lg">
      <table class="w-full bg-blur text-sm text-left text-gray-500">
        <thead class="text-gray-700 bg-blue-200">
        <tr>
          <th scope="col" class="px-6 py-3 font-normal text-md text-black">Code</th>
          <th scope="col" class="px-6 py-3 font-normal text-md text-black">Location</th>
          <th scope="col" class="px-6 py-3 font-normal text-md text-black">Date</th>
          <th scope="col" class="px-6 py-3 font-normal text-md text-black">Start Time</th>
          <th scope="col" class="px-6 py-3 font-normal text-md text-black">End Time</th>
          <th scope="col" class="px-6 py-3 font-normal text-md text-black">Participants Number</th>
        </tr>
        </thead>
        <tbody class="bg-blur-bold">
        <tr *ngFor="let data of testData" class="backdrop-blur ">
          <td [routerLink]="'/competition/' + data.code"  class="px-6 py-4 text-gray-200">{{ data.code }}</td>
          <td class="px-6 py-4 text-gray-200">{{ data.location }}</td>
          <td class="px-6 py-4 text-gray-200">{{ data.date }}</td>
          <td class="px-6 py-4 text-gray-200">{{ data.startTime }}</td>
          <td class="px-6 py-4 text-gray-200">{{ data.endTime }}</td>
          <td class="px-6 py-4 text-gray-200">{{ data.numberOfParticipants }}</td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</section>
